.addReview{
    border-style: solid;
    border-color: rgb(20, 20, 20);
    padding: 20px;
    .submit{
        margin-left: 495px;
        padding: 0px;
        margin-top: 0px;
        margin-bottom: 0px;
    }
}