@import './bookCard.scss';
@import './searchBar.scss';

#header {
  background-image: url('../img/headerLibrary.jpg');
  width: 100%;
  height: 60vh;
  position: relative;
}

.error-alert {
  // display: none;
}