.detail {
    margin: 50px 50px 50px 50px;
    background-color: rgb(230, 220, 220);
    .rating-box {
      float: right;
      .heart {
        color: transparent;
        -webkit-text-stroke-width: 3px;
        -webkit-text-stroke-color: black;
        font-size: 30px;
        cursor: pointer;
      }
      .rating, .likes {
        font-size: 32px;
        padding-left: 30px;
      }
      .card-text{
        margin-left: 30px;
        margin-right: 30px;
        text-align: right;
      }
      .card-body{
        margin: 50px 50px 50px 50px;
        background-color: rgb(194, 41, 41);
      }
    }
  }