.bookdetail {
  border-radius: 50px;
  background: #ffffff;
  box-shadow: 5px 5px 10px #666666, -5px -5px 10px #ffffff;
  padding: 50px;
  .rate{
      float: right;
      padding-top: 5px;
      margin-right: 0px;
      font-size: 20px;
      .heart {
        color: transparent;
        padding-top:9px;
        padding-left: 10px;
        -webkit-text-stroke-width: 3px;
        -webkit-text-stroke-color: black;
        font-size: 20px;
        cursor: pointer;
      }
      .heart_sum{
        padding-top: 4px;
        font-size: 20px;
      }
  }
}
