
 .search_bar_home{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 50vw;
}


.search_bar_home .card{
    padding: 0 2vw;
    background-color: rgba(255,255,255,0.6); 
}

.search_bar_detail{
    // margin-top: 20px;
    // margin-left: 200px;
    // width: 50vw;
}

.search_bar_detail .card {
    padding: 1vw 2vw;
    border: none;
}